<app-create-content (newBookEvent)="addBookToList($event)"></app-create-content>
<div class="itemFinder">
  Title: <input [(ngModel)]="item">
  <br>
  <button (click)="onFindItem();">
    Search for Book
  </button>
</div>
<!--<app-content-card *ngFor="let hardcover of (contentArray | matchesString: 'Hardcover');"-->
<!--                  [class.hardcover]="hardcover" [content]="hardcover"-->
<!--                  [class.selected]="this.item.toLowerCase().trim().length > 0 &&-->
<!--                  hardcover.title.toLowerCase() === this.item.toLowerCase().trim()">-->
<!--</app-content-card>-->
<!--<app-content-card *ngFor="let paperback of (contentArray | matchesString: 'Paperback');"-->
<!--                  [class.paperback]="paperback" [content]="paperback"-->
<!--                  [class.selected]="this.item.toLowerCase().trim().length > 0 &&-->
<!--                  paperback.title.toLowerCase() === this.item.toLowerCase().trim()" appBorderHoverStyle>-->
<!--</app-content-card>-->

<app-content-card *ngFor="let hardcover of contentArray | matchesString: 'Hardcover'; first as isFirst; last as isLast;"
                  [class.hardcover]="hardcover" [content]="hardcover" appBorderHoverStyle [isFirstEle]="isFirst" [isLastEle]="isLast"
                  [class.selected]="this.item.toLowerCase().trim().length > 0 &&
                  hardcover.title.toLowerCase() === this.item.toLowerCase().trim()">
</app-content-card>
<app-content-card *ngFor="let paperback of contentArray | matchesString: 'Paperback'; first as isFirst; last as isLast;"
                  [class.paperback]="paperback" [content]="paperback" appBorderHoverStyle [isFirstEle]="isFirst" [isLastEle]="isLast"
                  [class.selected]="this.item.toLowerCase().trim().length > 0 &&
                  paperback.title.toLowerCase() === this.item.toLowerCase().trim()">
</app-content-card>
