<!--<div class="idEntry">Id: (integer)<br><input [(ngModel)]="newBook.id"></div>-->
<div class="authorEntry">Author: <br><input [(ngModel)]="newBook.author"></div>
<div class="imgUrlEntry">Image URL: <br><input [(ngModel)]="newBook.imgUrl"></div>
<div class="typeEntry">Type (Hardcover or Paperback): <br><input [(ngModel)]="newBook.type"></div>
<div class="titleEntry">Title: <br><input [(ngModel)]="newBook.title"></div>
<div class="bodyEntry">Description: <br><input [(ngModel)]="newBook.body"></div>
<div class="tagsEntry">Tags (comma-separated values): <br><input [(ngModel)]="newBook.tags"></div>
<div class="submitEntry">
  <button (click)="add()">Add Book</button>
</div>
<div [(ngModel)]="msg" [innerHTML]="msg"></div>
<br><br>
