:host {
  display: block;
  border: 2px solid red;
  float: left;
  min-height: 500px;
  background-color: aquamarine;
}

:host.hardcover {
  border: 2px solid green;
}

:host.paperback {
  border: 2px solid red;
}

:host.selected {
  background-color: bisque;
  border: 2px solid black;
}

.image {
  max-height: 15em;
  max-width: 15em;
}

.imageDiv {
  text-align: center;
  padding: 0.5em 1em 0.5em 1em;
}

.title, .author, .tags, .body, .type {
  text-align: center;
  padding: 0.5em 0.2em 0.5em 0.2em;
}

.title, .author {
  font-weight: bold;
}
