<div class="title" appHoverStyle hstyle='underline'>{{ content.title }}</div>
<div class="author">By: {{ content.author }}</div>
<div class="tags" *ngIf="content.tags">
  Genres:
  <mat-chip-list class="tag" *ngFor="let tag of content.tags;">
    <mat-chip color="primary" selected appHoverStyle hstyle='bold'>{{ tag }}</mat-chip>
  </mat-chip-list>
</div>
<div class="imageDiv" [ngSwitch]="content.imgUrl != null">
  <span *ngSwitchCase='true'>
    <img class="image" [src]="content.imgUrl" (click)="onImageClick()">
  </span>
  <span *ngSwitchCase='false'>
    <img class="image" [src]='"https://cdn-icons-png.flaticon.com/128/166/166088.png"' (click)="onImageClick()">
  </span>
</div>
<div class="body">Summary: {{ content.body }}</div>
<div class="type" *ngIf="content.type">Type: {{ content.type }}</div>

