<div class="idEntry">Id: (integer)<br><input #bId></div>
<div class="authorEntry">Author: <br><input #bAuthor></div>
<div class="imgUrlEntry">Image URL: <br><input #bImgUrl></div>
<div class="typeEntry">Type (Hardcover or Paperback): <br><input #bType></div>
<div class="titleEntry">Title: <br><input #bTitle></div>
<div class="bodyEntry">Description: <br><input #bBody></div>
<div class="tagsEntry">Tags (comma-separated values): <br><input #bTags></div>
<div class="submitEntry">
  <button (click)="addBook(
  bId.value, bAuthor.value, bImgUrl.value, bType.value, bTitle.value, bBody.value, bTags.value)">Add Book</button>
</div>
<br><br>
